sys
os
socket
GMail
nmap
locale
platform
time
random
pyfiglet
geocoder
requests
http
scapy
smtplib
json
getpass
cryptography
crypto
sniffer
webbrowser
gmail
psutil
wmi
re
logging
uuid
device_detector
Nominatim
DeviceDetector
SoftwareDetector
